<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4">
  
      <img [src]="productDetails?.imageUrl" class="img-fluid" alt="">
  
    </div>
    <!--Grid column-->
  
    <!--Grid column-->
    <div class="col-md-6 mb-4">
  
      <!--Content-->
      <div class="p-4">
        <div class="lead text-left">
            <div class="row pl-3">
                <span><label class="font-weight-bold">Name: </label>{{productDetails?.name}}</span>
            </div>
            <div class="row pl-3">
                <span><label class="font-weight-bold">Description: </label>{{productDetails?.description}}</span>
            </div>
            <div class="row pl-3">
                <span><label class="font-weight-bold">Price: </label>{{productDetails?.price}}{{'$'}}</span>
            </div>
        </div>
  
        <p class="lead font-weight-bold text-left">Product Info</p>
  
        <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
          sint voluptatibus!
          Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>
  
      </div>
      <!--Content-->
  
    </div>
    <!--Grid column-->
  
  </div>